:root {
  --main-white: #f0f0f0;
  --main-purple: purple;
  --main-blue: #45567d;
  --main-gray: #303841;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}


header {
  position: fixed;
  background-color: purple;
  color: white;
  font-family: 'Exo 2', sans-serif;
  padding: 1em;
  width: 100%
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
}


svg {
    display: inline-block;
    font-size: 50px;
    width: 960px;
    height: 300px;
    float: left;
    margin: 0 auto;
}

#s.text {
  float: left;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 6px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: green;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: white;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: white;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: white;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: white;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}

p {
  font-size: 17px;
}

header::after {
  clear: both;
  content: '';
  display: table;
}

img {
  display: block;
  width: 100%;
  image-orientation: from-image;
}

ul {
  list-style: none;
}

#header-img {
  width: 380px;
  height: 320px;
  float: left;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  height: 135px;
  width: 100%;
  background: purple;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

#nav-list {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  #nav-list {
    margin: 0 1rem;
  }
}

#nav-list a {
  display: block;
  font-size: 1.2rem;
  padding: 2rem;
}

#nav-list a:hover {
  background: var(--main-blue);
}

#introduction {
  background-color: #444;
  color: white;
  padding: 471.8px;
  background-image: url(https://media.giphy.com/media/eN4O2EqeW1lFqRg6dS/source.gif);
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#heart {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  padding: 20px;
}

main {
  font-family: 'Exo 2', sans-serif;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
a {
  text-decoration: none;
  color: var(--main-white);
}


#history {
  text-align: center;
  padding: 3.5em;
}

#video {
  text-align: center;
  margin: 0 auto;
  }

#lab {
  background-color: #E0E0E0;
  padding: 3em;
}

input{
  height: 2em;
  transition: 0.1s;
}

input:hover {
    border-bottom: 2px solid black;
}

#form {
  text-align: center;
  padding: 2em;
}

#submit {
  border-radius: 5px;
  padding: 0.5em;
  font-family: 'Exo 2', sans-serif;
  background-color: #ffe500;
  border: none;
  width: 80px;
}
#email {
  width: 175px;
}



html, body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
}


footer {
  background-color: violet;
  padding: 2em;
  color: white;
}

footer ul {
  list-style: none;
  display: inline;
}

footer li {
  display: inline;
  padding: 2em;
}

@media (max-width: 550px ){
  h1 {
    font-size: 1.25em;
  }
}

.ignore-css{all:unset;}



/* Projects section */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background-image: url(https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-9/51633388_335936363690864_9119190505509355520_o.jpg?_nc_cat=110&_nc_oc=AQkoCAbhbKrjgwHGdTqtBJWftR2k9_q7Yi5pQJOb1-66FXiSH4DWiAVT-H6gANryYao&_nc_ht=scontent-lax3-2.xx&oh=b715728db8e92267f90371345a287317&oe=5DB03B5C);
  background-position: 50% 50%;
  background-repeat: repeat;
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  border-color: black;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
  font-size: 30px;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
  image-orientation: from-image;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}
