:root {
  --main-white: #f0f0f0;
  --main-purple: purple;
  --main-blue: #45567d;
  --main-gray: #303841;
}

{
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 90.5%;
  scroll-behavior: smooth;
}


header {
  position: fixed;
  background-color: purple;
  color: white;
  font-family: 'Exo 2', sans-serif;
  padding: 1em;
  width: 100%
  background-size: cover;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: white;
}


svg {
    display: inline-block;
    font-size: 50px;
    width: 960px;
    height: 300px;
    float: left;
    margin: 0 auto;
}

#s.text {
  float: left;
  position: absolute;
}

.text-copy {
    fill: white;
    stroke: orange;
    stroke-dasharray: 6% 29%;
    stroke-width: 4.0px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: black;
  animation-fill-mode: forwards;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: black;
  animation-fill-mode: forwards;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: black;
  animation-fill-mode: forwards;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: black;
  animation-fill-mode: forwards;
  animation-delay: -4s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}

p {
  font-size: 17px;
}

header::after {
  clear: both;
  content: '';
  display: table;
}

img {
  display: block;
  width: 100%;
  image-orientation: from-image;
  size: from-image;
}

ul {
  list-style: none;
}

#header-img {
  width: 380px;
  height: 320px;
  float: left;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  height: 105px;
  width: 100%;
  background: purple;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

#nav-list {
  display: flex;
  margin-right: 2rem;
  margin-top: 1.4rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  #nav-list {
    margin: 0 1rem;
  }
}

#nav-list a {
  display: block;
  font-size: 1.2rem;
  padding: 1.1rem;
}

#nav-list a:hover {
  background: var(--main-blue);
}

#introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: white;
  text-align: center;
}

#introduction > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: black;
}

#heart {
  font-size: 3rem;
  padding-top: 100px;
  font-weight: 200;
  font-style: italic;
  color: black;
  text-align: center;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.2rem;
}
a {
  text-decoration: none;
  color: var(--main-white);
}


#history {
  text-align: center;
  padding: 3.5em;
}

#lab {
  background-color: #E0E0E0;
  padding: 3em;
}

input{
  height: 2em;
  transition: 0.1s;
}

input:hover {
    border-bottom: 2px solid black;
}

#form {
  text-align: center;
  padding: 2em;
}

#submit {
  border-radius: 5px;
  padding: 0.5em;
  font-family: 'Exo 2', sans-serif;
  background-color: #ffe500;
  border: none;
  width: 80px;
}
#email {
  width: 175px;
}



footer {
  background-color: violet;
  padding: 2em;
  color: white;
}

footer ul {
  list-style: none;
  display: inline;
}

footer li {
  display: inline;
  padding: 2em;
}

@media (max-width: 550px ){
  h1 {
    font-size: 1.25em;
  }
}

.ignore-css{all:unset;}



/* Projects section */

.projects-section {
  text-align: center;
  padding: 10rem 4rem;
  background-color: var(--main-blue);
  background-size: cover;
  width: 100%;
}

.projects-section-header {
  max-width: 700px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
  color: black;
  display: inline-block;
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: #f7880f;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: #f7880f;
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: black;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
  image-orientation: from-image;
}

.project-title {
  font-size: 2rem;
  padding: 1rem 0.5rem;
}




.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--main-red);
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}





.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-gray);
}

.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}









