header {
  position: fixed;
  background-color: purple;
  color: white;
  font-family: 'Exo 2', sans-serif;
  padding: 1em;
  width: 100%
}

header::after {
  clear: both;
  content: '';
  display: table;
}

#corner {
  float: left;
}

#header-img {
  width: 580px;
  height: 540px;
  float: left;
}

nav ul{
  float: right;
  margin-right: 2em;
}
nav li{
  display: inline;
  padding: 1em;
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

#history {
  background-color: #444;
  color: white;
  padding: 38em;
  background-image: url(https://media.giphy.com/media/eN4O2EqeW1lFqRg6dS/source.gif);
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: local;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-height: 375px;
  max-width: 660px;
}

#heart {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
}

main {
  font-family: 'Exo 2', sans-serif;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

#introduction {
  text-align: center;
  padding: 3.5em;
}

#video {
  text-align: center;
  margin: 0 auto;
  }

#lab {
  background-color: #E0E0E0;
  padding: 3em;
}

input{
  height: 2em;
  transition: 0.1s;
}

input:hover {
    border-bottom: 2px solid black;
}

#form {
  text-align: center;
  padding: 2em;
}

#submit {
  border-radius: 5px;
  padding: 0.5em;
  font-family: 'Exo 2', sans-serif;
  background-color: #ffe500;
  border: none;
  width: 80px;
}
#email {
  width: 175px;
}



html, body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
}


footer {
  background-color: violet;
  padding: 2em;
  color: white;
}

footer ul {
  list-style: none;
  display: inline;
}

footer li {
  display: inline;
  padding: 2em;
}

@media (max-width: 550px ){
  h1 {
    font-size: 1.25em;
  }
}

.ignore-css{all:unset;}



/* Projects section */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-blue);
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
  font-size: 40px;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
  image-orientation: from-image;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}
